# http://editorconfig.org

root = true

[*]
indent_style = tab
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true
charset = utf-8

[*.{js,yml,coffee,json}]
indent_style = tab
indent_size = 4

[*.md]
trim_trailing_whitespace = false
